/* ------------- reset -------------- */
*,
*::before,
*::after {
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
  cursor: pointer;
}
svg {
  overflow: unset;
}
/* ------------- reset end -------------- */





/* ------------- vars -------------- */
:root {
  /* color */
  --color-main:          #D39B6A;
  --color-main-hover:    #C78043;
  --color-main-hover-50: rgba(163, 105, 53, 0.5);
  --color-text:          #000000;
  --color-text-50:       rgba(0, 0, 0, .5);
  --color-text-30:       rgba(0, 0, 0, .3);
  --color-text-10:       rgba(0, 0, 0, .1);
  --color-background:    #000002;
  --color-shadow:        rgba(0, 0, 2, 0.2);
  --color-white:         #ffffff;
  --color-white-30:      rgba(255, 255, 255, 0.3);
  --color-gray:          #cccccc;

  /* font */
  --font:    'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --light:   300;
  --regular: 400;
  --medium:  500;
  --bold:    700;

  /* offset */
  --outer-gap: 2.22rem;
  --inner-gap: 1.11rem;
}
/* ------------- vars end -------------- */




/* ------------- typography -------------- */
body {
  width: 100vw;
  font-family: var(--font);
  font-weight: var(--regular);
  color: var(--color-text);
  fill: var(--color-main);
}

b {
  font-weight: var(--bold);
}

a {
  color: var(--color-main);
}
a:hover {
  color: var(--color-main-hover);
}

h1 {
  font-size: 1.375rem;
  line-height: 1.3;
  color: var(--color-main);
  margin: var(--inner-gap) 0 var(--outer-gap);
}
h2 {
  font-size: 1.0625rem;
  line-height: 1.3;
  font-weight: var(--medium);
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-size: 1.1875rem;
}
h4 {
  font-size: 0.9375rem;
  color: var(--color-main);
}
p {
  font-size: 0.722rem;
}
p + p {
  margin-top: 0.3rem;
}
/* ------------- typography end -------------- */





/* ------------- content -------------- */
/* elements */
input {
  font-family: var(--font);
  font-size: 0.75rem;
  font-weight: var(--light);
  padding: 0.3125rem 0;
  background-color: var(--color-white);
  border: none;
  border-bottom: 1.5px solid var(--color-gray);
  border-radius: 0;
  outline: none;
}
input[type="text"],
input[type="phone"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="file"] {
  width: 100%;
}
input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"] {
  border-bottom: 1.5px solid var(--color-background);
}
input[type="button"],
input[type="submit"] {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: var(--medium);
  color: var(--color-white);
  padding: 0.6rem 2.1875rem 0.6rem 1rem;
  border-radius: 5px;
  background-image: url(/assets/arrow-white-right.png);
  background-repeat: no-repeat;
  background-size: 20px 10px;
  background-position: right center;
  background-color: var(--color-main);
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--color-main-hover);
}
input + input,
label + label,
label + input,
input + label {
  margin-top: 0.8333rem;
}
label + h3 {
  margin-top: 1rem;
}
label {
  font-size: 0.777rem;
  color: var(--color-text-50);
  width: 100%;
  margin: calc(var(--inner-gap) / 2) 0;
  display: inline-block;
}

table {
  width: 100%;
  margin: calc(var(--inner-gap) / 2) 0 var(--inner-gap);
  padding: 0;
  border: none;
}
thead tr > td {
  font-size: 0.8rem;
  color: var(--color-text-50);
}
tbody tr:hover > td {
  background-color: var(--color-text-10);
}
td {
  margin: 0;
  padding: 0.625rem 0;
  cursor: default;
}
td + td {
  padding-left: 0.625rem;
}





/* login/register container */
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);
}



/* logotype */
.logotype {
  width: 30px;
  height: 42px;
  fill: var(--color-main);
}
.logotype_register {
  width: 395px;
  fill: var(--color-white-30);
  position: fixed;
}



/* login */
.form-block {
  width: 60vw;
  min-width: 280px;
  height: 400px;
  margin-top: var(--outer-gap);
  background-image: url(/assets/login_image.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.form-cotainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 100%;
  padding: var(--outer-gap);
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 var(--color-shadow);
}
.form-cotainer form {
  width: 100%;
}
.form-block-controls {
  width: 100%;
}
.form-block-controls p {
  color: var(--color-main);
  display: block;
}
.form-block-controls p:hover,
.form-block-controls p:hover a {
  color: var(--color-main-hover);
  cursor: pointer;
}
.form-block-controls p:first-of-type {
  text-transform: uppercase;
}
.form-block-controls p:first-of-type::after {
  content: url(/assets/arrow-main.svg);
  width: 6px;
  height: 10px;
  margin-left: 5px;
  top: 1px;
  position: relative;
  cursor: pointer;
}
.form-block-controls p:first-of-type:hover::after {
  content: url(/assets/arrow-main-hover.svg);
}

/* регистрация на странице дерева */
.content .form-cotainer {
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 7px 0 var(--color-shadow);
  position: absolute;
}




/* register */
.register-bg {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/register_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-block-register {
  width: 280px;
  height: 500px;
  margin: 0;
  border-radius: 5px;
  background: none;
}
.form-block-register p {
  margin-top: 1rem;
  text-transform: uppercase;
}


/* office container */
.wrap-office {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}



/* menu */
.menu {
  width: 256px;
  top: 0;
  bottom: 0;
  background-color: var(--color-background);
  color: var(--color-white);
  overflow-y: auto;
  display: block;
  position: fixed;
}
.menu-wrap {
  width: 100%;
  overflow: auto;
  padding-bottom: var(--outer-gap);
  display: block;
  position: relative;
}
/* header */
.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-bottom: 1.5px solid var(--color-main);
}
.menu-header h2 {
  margin-top: var(--inner-gap);
}
/* links */
.menu-links {
  width: 100%;
  padding: var(--outer-gap);
}
.menu-links-item {
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.menu-links-item + .menu-links-item {
  margin-top: var(--inner-gap);
}
.menu-links-item p {
  font-size: 0.9375rem;
  margin-left: 15px;
}
.menu-links-item.active p {
  font-weight: var(--medium);
  border-bottom: 1.5px solid var(--color-white);
}
.menu-links-item svg {
  fill: var(--color-main);
}
.menu-links-item:hover svg:not(.menu-links-item.active svg) {
  fill: var(--color-main-hover);
}
.menu-links-item.active {
  cursor: default;
}
.menu-links-item.active svg {
  fill: var(--color-white);
}
.menu-links-item.active:hover {
  color: var(--color-white);
}
/* referral */
.menu-referral {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--outer-gap);
}
.menu-referral h4 {
  margin: calc(var(--inner-gap) / 2) 0 calc(var(--inner-gap) / 2);
}
.menu-referral input {
  font-weight: var(--regular);
  color: var(--color-white);
  background-color: var(--color-background);
  border-bottom: 1.5px solid var(--color-white);
}
.menu-referral input:focus {
  border-bottom: 1.5px solid var(--color-main);
}
/* exit */
.menu-wrap > input {
  width: 100%;
  font-size: 0.875rem;
  text-transform: none;
  background-color: var(--color-background);
  margin: var(--inner-gap) 0 0 0;
  padding: 1rem 5.75rem 1.1rem 1.1875rem;
  background-image: url(/assets/arrow-white-left.png);
  background-repeat: no-repeat;
  background-size: 8px 14px;
  background-position: var(--outer-gap) center;
}
.menu-wrap > input:hover {
  color: var(--color-main-hover);
  background-color: var(--color-background);
}
#menu-burger {
  width: 2.777rem;
  height: 2.777rem;
  top: var(--inner-gap);
  right: var(--inner-gap);
  padding: 0.888rem 0.722rem;
  fill: var(--color-main);
  position: fixed;
  cursor: pointer;
  display: none;
}
#menu-burger:hover {
  fill: var(--color-main-hover);
}



/* content */
.content {
  width: calc(100vw - 256px);
  left: 256px;
  padding: var(--outer-gap);
  background-color: var(--color-white);
  overflow-y: scroll;
  position: relative;
}
.content h1 {
  text-align: center;
}
.content-block {
  width: 600px;
  padding: var(--outer-gap);
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 var(--color-shadow);
  left: 50%;
  /* bottom: 50%; */
  transform: translateX(-50%);
  position: relative;
}
.content-block-hor {
  display: flex;
  justify-content: space-evenly;
}
.content-block-ver {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.content-block-user p:not(.content-block-user-info p) {
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--color-main);
  cursor: pointer;
}
.content-block-user p:not(.content-block-user-info p):hover {
  color: var(--color-main-hover);
}
.content-block-user-info {
  width: 100%;
  margin: var(--inner-gap) 0;
}
.content-block-user-info span {
  font-size: 0.777rem;
  color: var(--color-text-50);
  display: inline-block;
}
.content-block-user-info p {
  font-size: 1rem;
}
.content-block-user-info p + span {
  margin-top: var(--inner-gap);
}
.content-block svg {
  width: 80px;
  height: 80px;
}
.content-block-avatar {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
}
.content-block-left {
  margin-right: var(--inner-gap);
  flex-shrink: 0;
}
.content-block-right {
  margin-left: var(--inner-gap);
}
.content-block-right h4 {
  color: var(--color-text);
}
.content-block-right input {
  margin-top: var(--inner-gap);
}
.content-block-right input[type="text"] {
  font-size: 1.1875rem;
  font-weight: var(--regular);
}
.content-block-right .hint {
  font-size: 0.625rem;
  font-weight: var(--regular);
  color: var(--color-gray);
  margin-top: 0.2777rem;
  display: block;
}
#my-payments,
#my-payments-back,
#my-requests,
#my-requests-back,
#cancel-add-new {
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--color-main);
  cursor: pointer;
}
#my-payments:hover,
#my-payments-back:hover,
#my-requests:hover,
#my-requests-back:hover,
#cancel-add-new {
  color: var(--color-main-hover);
}
.vertical-separator {
  width: 1.5px;
  height: auto;
  margin: 0 var(--inner-gap);
  background-color: var(--color-background);
  flex-shrink: 0;
}
.feathers {
  width: 500px;
  height: 250px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.feathers span {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}
.feathers span:nth-child(3) {
  background-color: var(--color-white);
  opacity: 0.3;
  transform: rotateZ(-8deg);
  box-shadow: 0 2px 7px 0 var(--color-shadow);
}
.feathers span:nth-child(2) {
  background-color: var(--color-main);
  opacity: 0.2;
  transform: rotateZ(-16deg);
}
.feathers span:nth-child(1) {
  background-color: var(--color-main);
  opacity: 0.1;
  transform: rotateZ(-24deg);
}

.payment-status-ok {
  color: green;
}
.payment-status-still {
  color: orange;
}
.payment-status-error {
  color: brown;
}



/* tree controls */
#add-new {
  display: none;
}
.tree-controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
/* select side */
.tree-selectors {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--color-main);
}
.tree-selector {
  font-size: 0.65rem;
  color: var(--color-main);
  font-weight: var(--medium);
  text-align: center;
  text-transform: uppercase;
  padding: 7px 15px;
  display: inline-block;
  cursor: pointer;
}
.tree-selector.active {
  color: var(--color-white);
  background-color: var(--color-main);
}
/* add button */
.tree-button-add {
  font-size: 0.65rem;
  font-weight: var(--medium);
  text-align: center;
  text-transform: uppercase;
  padding: 7px 20px;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

/* binary view */
.binary-view {
  width: 100%;
  max-width: 700px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.binary-view > div {
  position: relative;
}
.binary-view-container {
  width: 50%;
  margin-top: 20px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.binary-view > div > .binary-view-container {
  width: 100%;
}

/* info */
.binary-view-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  justify-items: center;
  align-content: end;
  width: 100%;
  height: 100px;
  margin-top: 15px;
  position: absolute;
}
.binary-view-info div {
  font-weight: var(--medium);
}
.binary-view-info div:nth-child(1),
.binary-view-info div:nth-child(2) {
  font-size: 1.3rem;
}

/* node */
.binary-view-node {
  width: 100px;
  height: 100px;
  left: 50%;
  margin: 20px 0 0;
  transform: translateX(-50%);
  border: 8px solid var(--color-main);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.binary-view-node:hover {
  border-color: var(--color-main-hover);
}
.binary-view-node.has-more {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.binary-view-node.has-more:hover {
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 5px 8px var(--color-main-hover-50);
}
.binary-view-node.inactive {
  border-color: var(--color-gray);
}
.binary-view-node.has-more.inactive:hover {
  box-shadow: 0 5px 8px var(--color-text-30);
}
.binary-view-node > span {
  width: 100%;
  height: 100%;
  border: 6px solid #E9E8E7;
  background-color: var(--color-white);
  border-radius: 50%;
  display: block;
}
.binary-view-node > img {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* name */
.binary-view-container p {
  text-align: center;
  color: var(--color-white);
  word-break: keep-all;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px 0 10px;
  padding: 1px 10px;
  background-color: var(--color-background);
  box-shadow: 0 1px 3px var(--color-text-30);
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  cursor: default;
}
.binary-view-node:hover ~ p {
  opacity: 1;
}


/* links */
.binary-view > svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  stroke: var(--color-text-30);
  stroke-width: 2px;
  position: absolute;
}
.binary-view > svg .active {
  stroke: var(--color-main);
  stroke-width: 3.5px;
}
.binary-view > svg > circle {
  stroke: none;
  fill: #E9E8E7;
}
/* ------------- content end -------------- */





/* ------------- transitions -------------- */
.menu,
.content {
  transition: all 300ms ease-out;
}
.binary-view-node,
.binary-view > p,
.binary-view-container > p {
  transition: all 200ms ease-out;
}
svg,
a,
input,
.content-block-user p,
#my-payments,
#my-payments-back,
#my-requests,
#my-requests-back,
#cancel-add-new {
  transition: all 100ms ease-out;
}
/* ------------- transitions end -------------- */





/* ------------- layers -------------- */
#menu-burger {
  z-index: 1000;
}
.menu {
  z-index: 100;
}
#add-new {
  z-index: 10;
}
.content-block {
  z-index: 4;
}
.feathers {
  z-index: 3;
}
.binary-view > div,
.form-block {
  z-index: 2;
}
.binary-view > svg,
.logotype_register {
  z-index: 1;
}
/* ------------- layers end -------------- */





/* ------------- media -------------- */
@media (max-width: 800px) {
  #menu-burger {
    display: block;
  }
  .menu {
    left: -300px;
    padding-bottom: var(--inner-gap);
  }
  .menu-header {
    height: 140px;
  }
  .content {
    width: 100vw;
    left: 0;
  }
  .content-block {
    width: calc(100vw - 20px);
    /* left: 10px;
    bottom: 10px;
    transform: translate(0, 0); */
    padding: var(--outer-gap);
    flex-direction: column;
  }
  .content-block-left {
    margin: 0 0 var(--inner-gap) 0;
  }
  .content-block-right {
    margin: var(--inner-gap) 0 0 0;
  }
  .content-block-left,
  .content-block-right {
    width: 100%;
    align-self: center;
  }
  .vertical-separator {
    width: 100%;
    height: 1.5px;
    margin: 0;
  }
  .feathers {
    width: 100vw;
    left: 10px;
    bottom: 10px;
    transform: translate(0, 0);
  }
}

@media (max-width: 600px) {
  .content {
    padding: var(--inner-gap);
  }
  .tree-controls {
    flex-direction: column;
  }
  .tree-selectors {
    margin-bottom: 1rem;
  }
  .tree-selector {
    width: 50%;
  }
  .binary-view > div {
    overflow: hidden;
  }
  .binary-view-node {
    width: 80px;
    height: 80px;
  }
  .binary-view-info {
    height: 80px;
  }
  .binary-view-info div:nth-child(1),
  .binary-view-info div:nth-child(2) {
    font-size: 1rem;
  }
  .binary-view-info div:nth-child(3),
  .binary-view-info div:nth-child(4) {
    font-size: 0.8rem;
  }
  .binary-view-info div:nth-child(1),
  .binary-view-info div:nth-child(3) {
    justify-self: start;
  }
  .binary-view-info div:nth-child(2),
  .binary-view-info div:nth-child(4) {
    justify-self: end;
  }
}
/* ------------- media end -------------- */